html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: Lato;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  font-family: Lato;
}

.container {
  width: 72%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .container {
    width: 96%;
  }
}
@media (max-width: 376px) {
  .container {
    width: 92%;
  }
}

.fill-white {
  fill: #FBFBFB;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.header {
  background-color: #222;
  position: relative;
}
.header__wrapper {
  display: flex;
  align-items: center;
  min-height: 75px;
  justify-content: space-between;
}
.header__logo {
  margin: 0 34px 0 0;
  text-decoration: none;
}
.header__loupe {
  transition: 600ms;
}
.header__button {
  background-color: transparent;
  border: none;
  margin: 0 34px 0 0;
  transition: opacity 600ms;
}
@media (max-width: 376px) {
  .header__button {
    margin: 0;
  }
}
.header__person-link {
  margin: 0 34px 0 0;
  text-decoration: none;
  transition: opacity 600ms;
}
@media (max-width: 376px) {
  .header__person-link {
    display: none;
  }
}
.header__cart-link {
  transition: opacity 600ms;
}
@media (max-width: 376px) {
  .header__cart-link {
    display: none;
  }
}
.header__person-link:hover, .header__cart-link:hover {
  opacity: 0.5;
}
.header__button:hover, .header__loupe:hover {
  opacity: 0.5;
  cursor: pointer;
}
.header__nav {
  display: none;
  position: absolute;
  min-height: 765px;
  width: 232px;
  background-color: #FBFBFB;
  right: 0;
  box-shadow: -1px 3px 10px #9F9F9F;
}
.header__nav-heading, .header__item-heading {
  text-transform: uppercase;
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  font-family: Lato;
}
.header__nav-heading {
  font-weight: 700;
  padding: 37px 0 24px 34px;
}
.header__item-heading {
  font-weight: 400;
  color: #F16D7F;
  padding: 0 0 0 34px;
}
.header__item-links {
  margin: 12px 0 20px 54px;
}
.header .li-margin {
  margin: 11px 0 0 0;
}
.header__category {
  text-decoration: none;
  color: #6F6E6E;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  font-family: Lato;
}
.header .li {
  transition: opacity 300ms;
}
.header .li:hover {
  opacity: 0.5;
}
.header .header__nav-close-button {
  position: absolute;
  top: 16px;
  right: 17px;
  border: none;
  background-color: #FBFBFB;
  transition: opacity 600ms;
}
.header .header__nav-close-button:hover {
  opacity: 0.5;
  cursor: pointer;
}
@media (max-width: 768px) {
  .header {
    padding: 0 16px;
  }
}
@media (max-width: 376px) {
  .header {
    padding: 0;
  }
}

.display-block {
  display: block;
}

.intro {
  display: flex;
  background-color: #F1E4E6;
  margin: 0 0 63px;
}
.intro__wrapper {
  display: flex;
  align-items: center;
  padding: 0 0 0 91px;
}
@media (max-width: 768px) {
  .intro__wrapper {
    padding: 0 0 0 70px;
  }
}
@media (max-width: 376px) {
  .intro__wrapper {
    padding: 0 0 0 91px;
  }
}
.intro__img {
  width: 50%;
  min-height: auto;
}
@media (max-width: 376px) {
  .intro__img {
    display: none;
  }
}
.intro__title {
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
  font-style: normal;
  font-family: Lato;
  text-transform: uppercase;
  position: relative;
}
.intro__title:before {
  content: "";
  position: absolute;
  width: 12px;
  height: 100%;
  background-color: #F16D7F;
  left: -32px;
}
@media (max-width: 768px) {
  .intro__title {
    font-size: 44px;
    line-height: 53px;
    font-weight: 900;
    font-style: normal;
    font-family: Lato;
  }
}
@media (max-width: 376px) {
  .intro__title {
    font-size: 38px;
    line-height: 46px;
    font-weight: 900;
    font-style: normal;
    font-family: Lato;
  }
}
.intro__subtitle {
  display: block;
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  font-style: normal;
  font-family: Lato;
}
.intro__subtitle-pink {
  color: #F16D7F;
}
@media (max-width: 768px) {
  .intro__subtitle {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    font-style: normal;
    font-family: Lato;
  }
}
@media (max-width: 376px) {
  .intro__subtitle {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    font-style: normal;
    font-family: Lato;
  }
}
@media (max-width: 768px) {
  .intro {
    margin: 0 0 20px;
  }
}
@media (max-width: 376px) {
  .intro {
    min-height: 363px;
    margin: 0 0 64px;
  }
}

.offers__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 376px) {
  .offers__list {
    flex-direction: column;
  }
}

.offers__item {
  color: white;
  text-transform: uppercase;
  width: 32%;
  min-height: 260px;
  background-color: #474040;
  background-size: cover;
  margin: 0 0 30px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
.offers__item--women {
  background-image: url(../images/sales_sector/women.jpg);
}
.offers__item--men {
  background-image: url(../images/sales_sector/men.jpg);
}
.offers__item--kids {
  background-image: url(../images/sales_sector/kids.jpg);
}
@media (max-width: 768px) {
  .offers__item {
    min-height: 168px;
    margin: 0 0 20px;
  }
}
@media (max-width: 376px) {
  .offers__item {
    width: 100%;
    min-height: 247px;
    margin: 0 0 32px;
  }
}
.offers__item--accesories {
  background-image: url(../images/sales_sector/accesories.jpg);
  width: 100%;
  min-height: 180px;
  margin: 0 0 96px;
}
@media (max-width: 768px) {
  .offers__item--accesories {
    margin: 0 0 155px;
    min-height: 116px;
  }
}
@media (max-width: 376px) {
  .offers__item--accesories {
    min-height: 111px;
    margin: 0 0 65px;
  }
}

.offers__heading {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  font-family: Lato;
}

.offers__text {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  font-style: normal;
  font-family: Lato;
  color: #F16D7F;
  text-align: center;
}

.products {
  display: flex;
  flex-direction: column;
}
.products__heading {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  font-style: normal;
  font-family: Lato;
  text-align: center;
}
.products__text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  font-family: Lato;
  text-align: center;
  color: #9F9F9F;
  margin: 6px 0 48px;
}
@media (max-width: 768px) {
  .products__text {
    margin: 3px 0 74px;
  }
}
@media (max-width: 376px) {
  .products__text {
    margin-bottom: 64px;
  }
}
.products__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 18px;
}
@media (max-width: 768px) {
  .products__list {
    margin: 0;
  }
}
@media (max-width: 376px) {
  .products__list {
    margin: 0 0 24px;
  }
}
.products__card {
  width: 32%;
  background-color: #F8F8F8;
  box-sizing: border-box;
  margin: 0 0 30px;
}
.products__card .products__overlay {
  position: relative;
}
.products__card .products__overlay:before {
  content: "";
  width: 100%;
  min-height: 100%;
  background: rgba(58, 56, 56, 0.86);
  display: none;
  position: absolute;
  top: 0;
}
.products__card .products__button {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: none;
  border: 1px solid #FBFBFB;
  box-sizing: border-box;
  padding: 14px 16px 12px 60px;
  transition: transform 600ms;
}
.products__card .products__button:hover {
  cursor: pointer;
  transform: translate(-50%, -50%) scale(1.1);
}
.products__card .products__button-span {
  font-family: Lato;
  color: #FBFBFB;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}
.products__card .cart-img {
  position: absolute;
  top: 50%;
  right: 95px;
  transform: translate(-50%, -50%);
}
.products__card .products__img {
  width: 100%;
}
.products__card .products__card-wrapper {
  padding: 25px 28px 20px 18px;
}
.products__card .products__card-header {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
  font-family: Lato;
  text-transform: uppercase;
}
.products__card .products__card-text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  font-family: Lato;
  color: #5D5D5D;
  margin: 13px 0 18px;
}
.products__card .products__card-price {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  font-family: Lato;
  color: #F16D7F;
}
@media (max-width: 768px) {
  .products__card {
    width: 49%;
  }
}
@media (max-width: 376px) {
  .products__card {
    width: 100%;
    margin: 0 0 16px;
  }
}
.products__card:hover .products__overlay:before, .products__card:hover .products__button {
  display: block;
}
.products__link {
  text-decoration: none;
  align-self: center;
  border: 1px solid #FF6A6A;
  color: #F26376;
  padding: 15px 39px;
  margin: 0 0 95px;
  transition: background-color 800ms, transform 600ms;
}
.products__link:hover {
  background-color: #FF6A6A;
  color: #FBFBFB;
  transform: scale(1.1);
}
@media (max-width: 768px) {
  .products__link {
    margin: 0 0 64px;
  }
}
@media (max-width: 376px) {
  .products__link {
    margin: 0 0 96px;
  }
}

.advantages {
  background-color: #222;
}
.advantages__list {
  display: flex;
  min-height: 341px;
  align-items: center;
}
.advantages__list .advantages__item {
  color: #FBFBFB;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.advantages__list .advantages__item .advantages__car,
.advantages__list .advantages__item .advantages__crown {
  fill: #F16D7F;
}
.advantages__list .advantages__item .advantages__heading {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  font-family: Lato;
  text-align: center;
  margin: 28px 0 16px;
}
.advantages__list .advantages__item .advantages__text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  font-family: Lato;
  text-align: center;
}
@media (max-width: 768px) {
  .advantages__list .advantages__item {
    width: 47%;
    margin: 0 0 48px;
  }
}
@media (max-width: 376px) {
  .advantages__list .advantages__item {
    width: 92%;
  }
}
@media (max-width: 768px) {
  .advantages__list {
    flex-direction: column;
    margin: 0;
  }
}
@media (max-width: 768px) {
  .advantages {
    padding: 48px 0 16px;
  }
}
@media (max-width: 376px) {
  .advantages {
    padding-bottom: 33px;
  }
}

.subscribe {
  background-image: url(../images/subscribe.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.subscribe__wrapper {
  display: flex;
  min-height: 448px;
  justify-content: space-between;
  align-items: center;
}
.subscribe__wrapper .subscribe__info {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 376px) {
  .subscribe__wrapper .subscribe__info {
    width: 96%;
  }
}
.subscribe__wrapper .subscribe__info-text {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  font-family: Lato;
  font-style: italic;
  text-align: center;
  margin: 30px 0 0;
}
@media (max-width: 376px) {
  .subscribe__wrapper .subscribe__info-text {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    font-style: italic;
    font-family: Lato;
  }
}
.subscribe__wrapper .subscribe__enter {
  width: 72%;
}
@media (max-width: 376px) {
  .subscribe__wrapper .subscribe__enter {
    max-width: 100%;
  }
}
.subscribe__wrapper .subscribe__enter-heading {
  font-size: 20px;
  line-height: 40px;
  font-weight: 700;
  font-style: normal;
  font-family: Lato;
  text-align: center;
  text-transform: uppercase;
}
.subscribe__wrapper .subscribe__enter-text {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  font-family: Lato;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 32px;
}
@media (max-width: 376px) {
  .subscribe__wrapper .subscribe__enter-text {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    font-style: normal;
    font-family: Lato;
    margin: 0 0 22px;
  }
}
.subscribe__wrapper .subscribe__enter-form {
  display: flex;
  justify-content: center;
}
@media (max-width: 376px) {
  .subscribe__wrapper .subscribe__enter-form {
    width: 100%;
  }
}
.subscribe__wrapper .subscribe__input {
  background: #E1E1E1;
  border: none;
  border-radius: 20px 0 0 20px;
  padding: 15px 64px 15px 22px;
  transition: opacity 600ms;
}
.subscribe__wrapper .subscribe__input:hover, .subscribe__wrapper .subscribe__input:focus {
  opacity: 0.5;
}
@media (max-width: 376px) {
  .subscribe__wrapper .subscribe__input {
    width: 72%;
  }
}
.subscribe__wrapper .subscribe__button {
  color: #FBFBFB;
  background-color: #F16D7F;
  border: none;
  border-radius: 0 20px 20px 0;
  padding: 10px;
  transition: background-color 600ms;
}
.subscribe__wrapper .subscribe__button:hover, .subscribe__wrapper .subscribe__button:focus {
  background-color: #E05C6E;
  cursor: pointer;
}
@media (max-width: 768px) {
  .subscribe__wrapper {
    flex-direction: column;
    padding: 64px 0 140px;
    height: 410px;
  }
}
@media (max-width: 376px) {
  .subscribe__wrapper {
    padding-bottom: 104px;
  }
}

.copy {
  background-color: #222;
}
.copy__wrapper {
  display: flex;
  justify-content: space-between;
  min-height: 79px;
  align-items: center;
}
@media (max-width: 768px) {
  .copy__wrapper {
    padding: 0 16px;
  }
}
@media (max-width: 376px) {
  .copy__wrapper {
    flex-direction: column-reverse;
    padding: 43px 0 9px;
  }
}
.copy__text {
  color: #FBFBFB;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  font-family: Lato;
}
.copy__links {
  display: flex;
}
.copy__links .copy__link-inst,
.copy__links .copy__link-pint,
.copy__links .copy__link-twit,
.copy__links .copy__link-facebook {
  padding: 8px;
  background-color: #FBFBFB;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
}
.copy__links .copy__link-facebook {
  padding: 8px 10px 8px 11px;
}
.copy__links .copy__link-margin {
  margin: 0 7px 0 0;
  text-decoration: none;
}
.copy__links .copy-link-hover {
  transition: background-color 600ms;
}
.copy__links .copy-link-hover:hover,
.copy__links .copy-link-hover:focus {
  background-color: #F16D7F;
}
.copy__links .copy-link-hover:hover svg,
.copy__links .copy-link-hover:focus svg {
  fill: #FBFBFB;
}

.page {
  background-color: #F8F3F4;
  min-height: 148px;
}
.page__heading {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  font-family: Lato;
  color: #F16D7F;
  padding: 59px 0 0 0;
}
@media (max-width: 376px) {
  .page__heading {
    text-align: center;
  }
}

.registration {
  padding: 64px 0 96px;
  display: flex;
}
.registration__field {
  max-width: 360px;
}
.registration__field .registration__legend {
  color: #222;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  font-family: Lato;
  margin: 0 0 20px 0;
}
.registration__field .registration__input {
  display: block;
  width: 100%;
  min-height: 45px;
  padding: 12px 0 15px 16px;
  box-sizing: border-box;
  color: #B1B1B1;
  border: 1px solid #A4A4A4;
  transition: opacity 600ms;
}
.registration__field .registration__input:hover, .registration__field .registration__input:focus {
  opacity: 0.5;
}
.registration__field .registration__input[placeholder] {
  -webkit-text-fill-color: #B1B1B1;
}
.registration__field .margin-bottom {
  margin: 0 0 20px 0;
}
.registration__field .radio-wrapper {
  margin: 32px 0 34px 0;
}
.registration__field .registration__radio {
  display: none;
}
.registration__field .registration__label {
  font-size: 11px;
  line-height: 13px;
  font-weight: 300;
  font-style: normal;
  font-family: Lato;
  position: relative;
  transition: opacity 600ms;
}
.registration__field .registration__label:before {
  position: absolute;
  content: "";
  width: 17px;
  height: 17px;
  border: 2px solid #A4A4A4;
  border-radius: 50%;
  left: -37px;
}
.registration__field .registration__label:hover {
  opacity: 0.5;
}
.registration__field .registration__radio:checked + .registration__label:before {
  background: #A4A4A4;
}
.registration__field .male {
  margin: 0 57px 0 37px;
}
.registration__field .registration__p {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  font-style: normal;
  font-family: Lato;
  color: #B1B1B1;
  margin: 15px 0 39px 0;
}
.registration__field .registration__button {
  width: 157px;
  height: 50px;
  border: none;
  background-color: #F16D7F;
  box-sizing: border-box;
  transition: all 600ms;
}
.registration__field .registration__button:hover {
  background-color: #E05C6E;
  cursor: pointer;
  transform: scale(1.1);
}
.registration__field .registration__span {
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-transform: uppercase;
  color: #FBFBFB;
}
.registration__field .registration__arrow {
  fill: #FBFBFB;
  margin: 0 0 0 20px;
}
@media (max-width: 768px) {
  .registration__field {
    width: 49%;
  }
}
@media (max-width: 376px) {
  .registration__field {
    margin-bottom: 40px;
    width: 100%;
  }
}
.registration__adv {
  max-width: 652px;
  margin: 0 0 0 128px;
}
.registration__adv .registration__adv-heading,
.registration__adv .registration__adv-p,
.registration__adv .registration__adv-item {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: normal;
  font-family: Lato;
}
@media (max-width: 768px) {
  .registration__adv .registration__adv-heading,
  .registration__adv .registration__adv-p,
  .registration__adv .registration__adv-item {
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    font-style: normal;
    font-family: Lato;
  }
}
.registration__adv .registration__adv-heading {
  text-transform: uppercase;
  margin: 0 0 22px 0;
}
.registration__adv .registration__adv-p {
  margin: 0 0 21px 0;
}
.registration__adv .registration__adv-item {
  margin: 0 0 16px 43px;
  position: relative;
}
.registration__adv .registration__adv-item:before {
  position: absolute;
  content: "";
  width: 20px;
  height: 16px;
  background-image: url(../images/checked.png);
  left: -43px;
  top: 8px;
}
@media (max-width: 768px) {
  .registration__adv .registration__adv-item:before {
    top: 3px;
  }
}
@media (max-width: 768px) {
  .registration__adv {
    margin: 0 0 0 22px;
    width: 48%;
  }
}
@media (max-width: 376px) {
  .registration__adv {
    margin: 0;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .registration {
    padding: 40px 0 96px;
  }
}
@media (max-width: 376px) {
  .registration {
    flex-direction: column;
  }
}

.cart-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 96px 0 0 0;
}
@media (max-width: 768px) {
  .cart-wrapper {
    flex-direction: column;
  }
}
@media (max-width: 376px) {
  .cart-wrapper {
    padding: 39px 0 0 0;
  }
}

.cart {
  max-width: 57%;
}
.cart__img {
  width: 40%;
  height: auto;
}
.cart__item {
  width: 100%;
  display: flex;
  box-shadow: 17px 19px 24px 0px rgba(0, 0, 0, 0.1294117647);
  position: relative;
  margin: 0 0 40px 0;
}
.cart__item-info {
  width: 390px;
  padding: 22px 0 62px 31px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 376px) {
  .cart__item-info {
    padding: 13px 0 38px 31px;
  }
}
.cart__item-name {
  margin: 0 0 42px;
  max-width: 200px;
  min-height: 58px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  font-family: Lato;
  text-transform: uppercase;
}
@media (max-width: 376px) {
  .cart__item-name {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    font-style: normal;
    font-family: Lato;
    margin: 0 0 15px;
  }
}
.cart__item-property {
  color: #575757;
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  font-style: normal;
  font-family: Lato;
}
@media (max-width: 376px) {
  .cart__item-property {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    font-style: normal;
    font-family: Lato;
  }
}
.cart__item-value {
  color: #6F6E6E;
}
.cart__item-value--pink {
  color: #F16D7F;
}
.cart__item-value--border {
  border: 1px solid #EAEAEA;
  padding: 1px 16px;
  margin: 0 0 0 24px;
  transition: opacity 300ms;
}
.cart__item-value--border:hover {
  opacity: 0.5;
  cursor: pointer;
}
.cart__item-del {
  position: absolute;
  top: 28px;
  right: 22px;
  transition: opacity 300ms;
}
.cart__item-del:hover {
  opacity: 0.5;
  cursor: pointer;
}
@media (max-width: 376px) {
  .cart__item-del {
    width: 10px;
    height: 11px;
    top: 17px;
    right: 12px;
  }
}
@media (max-width: 376px) {
  .cart__item {
    max-height: 178px;
  }
}
.cart__buttons {
  display: flex;
  justify-content: space-between;
  margin: 72px 0 128px;
}
@media (max-width: 768px) {
  .cart__buttons {
    margin: 72px auto 128px;
    width: 69%;
  }
}
@media (max-width: 376px) {
  .cart__buttons {
    margin: 30px 0 48px;
    width: 100%;
  }
}
.cart__button {
  text-transform: uppercase;
  padding: 16px 40px;
  background: none;
  border: 1px solid #A4A4A4;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  font-family: Lato;
  transition: opacity 300ms, transform 600ms;
}
.cart__button:hover {
  opacity: 0.5;
  cursor: pointer;
  transform: scale(1.1);
}
.cart__button-link {
  text-decoration: none;
  color: #222;
}
@media (max-width: 376px) {
  .cart__button {
    font-size: 12px;
    line-height: 14px;
    font-weight: 300;
    font-style: normal;
    font-family: Lato;
    padding: 9px 18px;
  }
}
@media (max-width: 768px) {
  .cart {
    max-width: 100%;
  }
}

.order {
  width: 360px;
}
@media (max-width: 768px) {
  .order__form {
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 376px) {
  .order__form {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .order__fieldset {
    width: 49%;
  }
}
@media (max-width: 376px) {
  .order__fieldset {
    width: 100%;
  }
}
.order__legend {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  font-family: Lato;
  text-transform: uppercase;
  margin: 0 0 20px;
}
.order__input {
  display: block;
  width: 100%;
  border: 1px solid #A4A4A4;
  height: 45px;
  padding: 13px 0 16px 17px;
  box-sizing: border-box;
  margin: 0 0 20px;
  transition: opacity 300ms;
}
.order__input[placeholder] {
  -webkit-text-fill-color: #B1B1B1;
}
.order__input:hover, .order__input:focus {
  opacity: 0.5;
}
.order__quote-button {
  text-transform: uppercase;
  color: #A4A4A4;
  background: none;
  border: 1px solid #A4A4A4;
  padding: 12px 14px;
  font-size: 11px;
  line-height: 13px;
  font-weight: 300;
  font-style: normal;
  font-family: Lato;
  transition: opacity 300ms, transform 600ms;
}
.order__quote-button:hover, .order__quote-button:focus {
  opacity: 0.5;
  cursor: pointer;
  transform: scale(1.1);
}
.order__price {
  margin: 57px 0 0 0;
  padding: 39px 43px 42px;
  background-color: #F5F3F3;
}
@media (max-width: 768px) {
  .order__price {
    margin: 20px 0 147px;
  }
}
@media (max-width: 376px) {
  .order__price {
    margin: 48px 0 96px;
  }
}
.order__sub {
  text-align: right;
  text-transform: uppercase;
  color: #4A4A4A;
  margin: 0 0 12px;
  font-size: 11px;
  line-height: 13px;
  font-weight: 400;
  font-style: normal;
  font-family: Lato;
}
.order__sub-price {
  margin: 0 0 0 20px;
}
.order__grand {
  text-align: right;
  text-transform: uppercase;
  margin: 0 0 20px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  font-family: Lato;
}
.order__grand-price {
  color: #F16D7F;
  font-weight: 700;
  margin: 0 0 0 20px;
}
.order__hr {
  border: 1px solid #E1E1E1;
  margin: 0 0 17px;
}
.order__check-button {
  padding: 16px 42px;
  width: 100%;
  background-color: #F16D7F;
  border: none;
  color: #FBFBFB;
  text-transform: uppercase;
  transition: transform 600ms, background-color 600ms;
}
.order__check-button:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: #E05C6E;
}
@media (max-width: 768px) {
  .order {
    width: 100%;
  }
}

.product-flex {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 376px) {
  .product-flex {
    flex-direction: column;
  }
}

.page__path {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  font-family: Lato;
  color: #575757;
  margin: 60px 0 0 0;
}
.page__path--rose {
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  font-style: normal;
  font-family: Lato;
  color: #F16D7F;
}
@media (max-width: 376px) {
  .page__path {
    margin: 30px 0 40px 0;
    text-align: center;
  }
}

.arrow-prev {
  width: 47px;
  height: 47px;
  background-color: #EAEAEA;
  background-image: none;
}
.arrow-prev-svg {
  transition: fill 300ms;
  margin: 10px 0 0 0;
  fill: #222;
}

.product {
  margin: 0 0 100px;
}
.product__carusel {
  margin-bottom: -50px;
  border: 1px solid #EAEAEA;
}
@media (max-width: 768px) {
  .product__carusel {
    margin-bottom: 0;
  }
}
.product-button {
  opacity: 1;
  justify-content: flex-start;
}
.product-button--next {
  justify-content: flex-end;
}
.product-button:hover {
  opacity: 1;
}
.product-button:hover .arrow-prev .arrow-prev-svg {
  fill: #F16D7F;
}
.product__info {
  width: 71%;
  min-height: 601px;
  padding: 50px 0;
  box-sizing: border-box;
  margin: 0 auto;
  background-color: #fff;
  position: relative;
  border: 1px solid #EAEAEA;
}
.product__info-container {
  width: 56%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .product__info-container {
    width: 72%;
  }
}
@media (max-width: 376px) {
  .product__info-container {
    width: 86%;
  }
}
.product__info-cat {
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  font-family: Lato;
  color: #F16D7F;
  margin: 0 0 10px 0;
}
@media (max-width: 768px) {
  .product__info {
    width: 100%;
  }
}
.product__hr-rose {
  border: 2px solid #F16D7F;
  background-color: #F16D7F;
  width: 63px;
  margin: 0 auto;
  opacity: 1;
}
.product__name {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  font-style: normal;
  font-family: Lato;
  text-align: center;
  text-transform: uppercase;
  color: #5D5D5D;
  margin: 10px 0 40px 0;
}
.product__desc {
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  font-family: Lato;
  color: #5D5D5D;
  margin: 0 0 25px;
}
.product__price {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  font-family: Lato;
  text-align: center;
  color: #F16D7F;
  margin: 0 0 50px;
}
.product__hr {
  border: 1px solid #6F6E6E;
  background-color: #6F6E6E;
  margin: 0 0 40px;
}
.product__options {
  width: 67%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 40px;
}
.product__options-btn {
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  font-family: Lato;
  color: #5D5D5D;
  transition: opacity 300ms;
}
.product__options-btn:before {
  position: absolute;
  content: "";
  width: 10px;
  height: 5px;
  background-image: url(../images/product/dropdown.svg);
  right: -10px;
  top: 8px;
}
.product__options-btn:hover {
  opacity: 0.5;
}
@media (max-width: 376px) {
  .product__options-btn {
    font-size: 10px;
    line-height: 12px;
    font-weight: 400;
    font-style: normal;
    font-family: Lato;
  }
}
@media (max-width: 768px) {
  .product__options {
    margin-bottom: 70px;
  }
}
@media (max-width: 376px) {
  .product__options {
    width: 81%;
  }
}
.product__add-btn {
  border: 1px solid #F16D7F;
  background: none;
  padding: 15px 20px;
  align-self: center;
  transition: transform 600ms, background-color 600ms;
}
.product__add-btn:hover {
  transform: scale(1.1);
  background-color: #E05C6E;
}
.product__add-btn:hover .product__cart-img {
  fill: #fff;
}
.product__add-btn:hover .product__cart-span {
  color: #fff;
}
.product__cart-img {
  fill: #F16D7F;
  margin: 0 10px 0 0;
}
.product__cart-span {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  font-family: Lato;
  color: #F16D7F;
}

.similar {
  width: 72%;
  margin: 0 auto 100px;
  flex-direction: row;
}
.similar__card {
  padding: 0;
  margin: 0 25px 0 0;
}
.similar__card--last {
  margin: 0;
}
@media (max-width: 768px) {
  .similar__card--last {
    display: none;
  }
}
@media (max-width: 768px) {
  .similar__card {
    margin: 0;
  }
}
@media (max-width: 768px) {
  .similar__card--first {
    margin: 0 25px 0 0;
  }
}
@media (max-width: 376px) {
  .similar__card--first {
    margin: 0 0 20px 0;
  }
}
@media (max-width: 768px) {
  .similar {
    width: 95%;
  }
}
@media (max-width: 376px) {
  .similar {
    flex-direction: column;
  }
}

.catalog {
  position: relative;
  margin-top: 50px;
}
.catalog__instruments {
  display: flex;
  margin: 0 0 70px 0;
}
.catalog__filter {
  display: none;
  position: absolute;
  z-index: 1;
  padding: 10px 0 10px 10px;
  background-color: #fff;
  left: 0;
  width: 360px;
  min-height: 130px;
  box-sizing: border-box;
  box-shadow: -1px 0px 10px #9F9F9F;
}
.catalog__filter-btn {
  position: relative;
  padding: 0;
  margin: 0 0 10px;
  border: none;
  background: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  font-style: normal;
  font-family: Lato;
  color: #F16D7F;
}
.catalog__filter-btn:before {
  position: absolute;
  content: "";
  width: 15px;
  height: 10px;
  background-image: url(../images/catalog/filter_img.svg);
  background-repeat: no-repeat;
  right: -20px;
  top: 4px;
}
.catalog__filter-btn:hover {
  cursor: pointer;
}
.catalog__filter-btn-closed {
  position: relative;
  padding: 0;
  margin: 0 0 10px;
  border: none;
  background: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  font-style: normal;
  font-family: Lato;
  color: #222;
}
.catalog__filter-btn-closed:before {
  position: absolute;
  content: "";
  width: 15px;
  height: 10px;
  background-image: url(../images/catalog/filter_img_black.svg);
  background-repeat: no-repeat;
  right: -20px;
  top: 4px;
}
.catalog__filter-btn-closed:hover {
  cursor: pointer;
}
.catalog__filter-option {
  position: relative;
  padding: 0;
  margin: 0 0 0 10px;
  text-transform: uppercase;
  border: none;
  background: none;
  min-height: 37px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  font-family: Lato;
  color: #F16D7F;
}
.catalog__filter-option:before {
  position: absolute;
  content: "";
  width: 5px;
  height: 37px;
  background-color: #F16D7F;
  left: -10px;
  bottom: -1px;
}
.catalog .option-hr {
  width: 90%;
  margin: 0;
  opacity: 0.5;
}
.catalog .filter-category {
  text-decoration: none;
  color: #6F6E6E;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  font-family: Lato;
}
.catalog__sort {
  width: 50%;
  text-align: center;
  margin: 0 auto;
}
.catalog__sort-btn {
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  margin: 0 20px 0 0;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  font-family: Lato;
  color: #5D5D5D;
}
.catalog__sort-btn:before {
  position: absolute;
  content: "";
  width: 10px;
  height: 5px;
  background-image: url(../images/product/dropdown.svg);
  right: -10px;
  top: 8px;
}
.catalog__sort-btn:hover {
  cursor: pointer;
}
.catalog__sort-checkbox {
  position: absolute;
  left: 50%;
  top: 30px;
  display: none;
  flex-direction: column;
  padding: 10px 5px 5px 5px;
  width: 79px;
  min-height: 103px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: -1px 0px 10px #9F9F9F;
}
.catalog__grid {
  display: grid;
  margin: 0 0 30px;
  grid-template-columns: repeat(3, 32%);
  grid-column-gap: 2%;
}
.catalog__card {
  width: 100%;
}
.catalog__page-switch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 24%;
  margin: 0 auto 100px;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #9F9F9F;
}
.catalog__page-prev, .catalog__page-next {
  border: none;
  background: none;
}
.catalog__page-prev:hover, .catalog__page-next:hover {
  cursor: pointer;
}
.catalog__page-num {
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  font-family: Lato;
  color: #9F9F9F;
}
.catalog__page-num:hover {
  color: #F16D7F;
}

.filter-list {
  display: none;
  padding: 20px 0 20px 10px;
}
.filter-list-item {
  margin: 0 0 6px;
}

.checkbox-input {
  display: none;
}
.checkbox-input:checked + .checkbox-label:before {
  background-color: #9F9F9F;
}

.checkbox-label {
  position: relative;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
  font-family: Lato;
  color: #5D5D5D;
  margin: 0 0 5px 0;
}
.checkbox-label:before {
  position: absolute;
  content: "";
  width: 13px;
  height: 13px;
  border: 1px solid #9F9F9F;
  left: 5px;
}

.page-arrow:hover {
  fill: #F16D7F;
}

.page-range {
  color: #9F9F9F;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
  font-family: Lato;
}

.display-flex {
  display: block;
}/*# sourceMappingURL=style.css.map */