html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: Lato;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  font-family: Lato;
}

.container {
  width: 1138px;
  margin: 0 auto;
}

.fill-white {
  fill: #FBFBFB;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.header {
  background-color: #222;
  position: relative;
}

.header__wrapper {
  display: flex;
  align-items: center;
  min-height: 75px;
  justify-content: space-between;
}

.header__logo {
  margin: 0 34px 0 0;
  text-decoration: none;
}

.header__button {
  background-color: transparent;
  border: none;
  margin: 0 34px 0 0;
}

.header__person-link {
  margin: 0 34px 0 0;
  text-decoration: none;
}

.header__person-link:hover,
.header__cart-link:hover {
  opacity: 0.5;
}

.header__button:hover,
.header__loupe:hover {
  opacity: 0.5;
  cursor: pointer;
}

.header__nav {
  display: none;
  position: absolute;
  min-height: 765px;
  width: 232px;
  background-color: #FBFBFB;
  right: 0;
  box-shadow: -1px 3px 10px #9F9F9F;
}

.header__nav-heading,
.header__item-heading {
  text-transform: uppercase;
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  font-family: Lato;
}

.header__nav-heading {
  font-weight: 700;
  padding: 37px 0 24px 34px;
}

.header__item-heading {
  font-weight: 400;
  color: #F16D7F;
  padding: 0 0 0 34px;
}

.header__item-links {
  margin: 12px 0 20px 54px;
}

.header .li-margin {
  margin: 11px 0 0 0;
}

.header__category {
  text-decoration: none;
  color: #6F6E6E;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  font-family: Lato;
}

.header .li:hover {
  opacity: 0.5;
}

.header .nav__close-button {
  position: absolute;
  top: 16px;
  right: 17px;
  border: none;
  background-color: #FBFBFB;
}

.header .nav__close-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.display-block {
  display: block;
}

.intro {
  display: flex;
  background-color: #F1E4E6;
  margin: 0 0 63px;
}

.intro__wrapper {
  display: flex;
  align-items: center;
  padding: 0 0 0 91px;
}

.intro__title {
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
  font-style: normal;
  font-family: Lato;
  text-transform: uppercase;
  position: relative;
}

.intro__title:before {
  content: "";
  position: absolute;
  width: 12px;
  height: 100%;
  background-color: #F16D7F;
  left: -32px;
}

.intro__subtitle {
  display: block;
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  font-style: normal;
  font-family: Lato;
}

.intro__subtitle-pink {
  color: #F16D7F;
}

.offers__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.offers__item {
  color: white;
  text-transform: uppercase;
  width: 360px;
  min-height: 260px;
  background-color: #474040;
  margin: 0 0 30px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.offers__item--women {
  background-image: url(../images/sales_sector/women.jpg);
}

.offers__item--men {
  background-image: url(../images/sales_sector/men.jpg);
}

.offers__item--kids {
  background-image: url(../images/sales_sector/kids.jpg);
}

.offers__item--accesories {
  background-image: url(../images/sales_sector/accesories.jpg);
  width: 100%;
  min-height: 180px;
  margin: 0 0 96px;
}

.offers__heading {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  font-family: Lato;
}

.offers__text {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  font-style: normal;
  font-family: Lato;
  color: #F16D7F;
}

.products {
  display: flex;
  flex-direction: column;
}

.products__heading {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  font-style: normal;
  font-family: Lato;
  text-align: center;
}

.products__text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  font-family: Lato;
  text-align: center;
  color: #9F9F9F;
  margin: 6px 0 48px;
}

.products__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 18px;
}

.products__card {
  width: 360px;
  background-color: #F8F8F8;
  box-sizing: border-box;
  margin: 0 0 30px;
}

.products__card .products__overlay {
  position: relative;
}

.products__card .products__overlay:before {
  content: "";
  width: 100%;
  min-height: 420px;
  background: rgba(58, 56, 56, 0.86);
  display: none;
  position: absolute;
  top: 0;
}

.products__card .products__button {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: none;
  border: 1px solid #FBFBFB;
  box-sizing: border-box;
  padding: 14px 16px 12px 60px;
}

.products__card .products__button:hover {
  cursor: pointer;
}

.products__card .products__button-span {
  font-family: Lato;
  color: #FBFBFB;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.products__card .cart-img {
  position: absolute;
  top: 50%;
  right: 95px;
  transform: translate(-50%, -50%);
}

.products__card .products__card-wrapper {
  padding: 25px 28px 20px 18px;
}

.products__card .products__card-header {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
  font-family: Lato;
  text-transform: uppercase;
}

.products__card .products__card-text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  font-family: Lato;
  color: #5D5D5D;
  margin: 13px 0 18px;
}

.products__card .products__card-price {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  font-family: Lato;
  color: #F16D7F;
}

.products__card:hover .products__overlay:before,
.products__card:hover .products__button {
  display: block;
}

.products__link {
  text-decoration: none;
  align-self: center;
  border: 1px solid #FF6A6A;
  color: #F26376;
  padding: 15px 39px;
  margin: 0 0 95px;
}

.products__link:hover {
  background-color: #FF6A6A;
  color: #FBFBFB;
}

.advantages {
  background-color: #222;
}

.advantages__list {
  display: flex;
  min-height: 341px;
  align-items: center;
}

.advantages__list .advantages__item {
  color: #FBFBFB;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages__list .advantages__item .advantages__car,
.advantages__list .advantages__item .advantages__crown {
  fill: #F16D7F;
}

.advantages__list .advantages__item .advantages__heading {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  font-family: Lato;
  text-align: center;
  margin: 28px 0 16px;
}

.advantages__list .advantages__item .advantages__text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  font-family: Lato;
  text-align: center;
}

.subscribe {
  background-image: url(../images/subscribe.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe__wrapper {
  display: flex;
  min-height: 448px;
  justify-content: space-between;
  align-items: center;
}

.subscribe__wrapper .subscribe__info {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe__wrapper .subscribe__info-text {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  font-family: Lato;
  font-style: italic;
  text-align: center;
  margin: 30px 0 0;
}

.subscribe__wrapper .subscribe__enter {
  width: 557px;
}

.subscribe__wrapper .subscribe__enter-heading {
  font-size: 20px;
  line-height: 40px;
  font-weight: 700;
  font-style: normal;
  font-family: Lato;
  text-align: center;
  text-transform: uppercase;
}

.subscribe__wrapper .subscribe__enter-text {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  font-family: Lato;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 32px;
}

.subscribe__wrapper .subscribe__enter-form {
  display: flex;
  justify-content: center;
}

.subscribe__wrapper .subscribe__input {
  background: #E1E1E1;
  border: none;
  border-radius: 20px 0 0 20px;
  padding: 15px 64px 15px 22px;
}

.subscribe__wrapper .subscribe__input:hover,
.subscribe__wrapper .subscribe__input:focus {
  opacity: 0.5;
}

.subscribe__wrapper .subscribe__button {
  color: #FBFBFB;
  background-color: #F16D7F;
  border: none;
  border-radius: 0 20px 20px 0;
  padding: 10px;
}

.subscribe__wrapper .subscribe__button:hover,
.subscribe__wrapper .subscribe__button:focus {
  background-color: #E05C6E;
  cursor: pointer;
}

.copy {
  background-color: #222;
}

.copy__wrapper {
  display: flex;
  justify-content: space-between;
  min-height: 79px;
  align-items: center;
}

.copy__text {
  color: #FBFBFB;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  font-family: Lato;
}

.copy__links {
  display: flex;
}

.copy__links .copy__link-inst,
.copy__links .copy__link-pint,
.copy__links .copy__link-twit,
.copy__links .copy__link-facebook {
  padding: 8px;
  background-color: #FBFBFB;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
}

.copy__links .copy__link-facebook {
  padding: 8px 10px 8px 11px;
}

.copy__links .copy__link-margin {
  margin: 0 7px 0 0;
  text-decoration: none;
}

.copy__links .copy-link-hover:hover,
.copy__links .copy-link-hover:focus {
  background-color: #F16D7F;
}

.copy__links .copy-link-hover:hover svg,
.copy__links .copy-link-hover:focus svg {
  fill: #FBFBFB;
}

.page {
  background-color: #F8F3F4;
  min-height: 148px;
}

.page__heading {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  font-family: Lato;
  color: #F16D7F;
  padding: 59px 0 0 0;
}

.registration {
  padding: 64px 0 96px 0;
  display: flex;
}

.registration__field {
  max-width: 360px;
}

.registration__field .registration__legend {
  color: #222;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  font-family: Lato;
  margin: 0 0 20px 0;
}

.registration__field .registration__input {
  display: block;
  width: 100%;
  min-height: 45px;
  padding: 12px 0 15px 16px;
  box-sizing: border-box;
  color: #B1B1B1;
  border: 1px solid #A4A4A4;
}

.registration__field .registration__input:hover,
.registration__field .registration__input:focus {
  opacity: 0.5;
}

.registration__field .registration__input[placeholder] {
  -webkit-text-fill-color: #B1B1B1;
}

.registration__field .margin-bottom {
  margin: 0 0 20px 0;
}

.registration__field .radio-wrapper {
  margin: 32px 0 34px 0;
}

.registration__field .registration__radio {
  display: none;
}

.registration__field .registration__label {
  font-size: 11px;
  line-height: 13px;
  font-weight: 300;
  font-style: normal;
  font-family: Lato;
  position: relative;
}

.registration__field .registration__label:before {
  position: absolute;
  content: "";
  width: 17px;
  height: 17px;
  border: 2px solid #A4A4A4;
  border-radius: 50%;
  left: -37px;
}

.registration__field .registration__label:hover {
  opacity: 0.5;
}

.registration__field .registration__radio:checked+.registration__label:before {
  background: #A4A4A4;
}

.registration__field .male {
  margin: 0 57px 0 37px;
}

.registration__field .registration__p {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  font-style: normal;
  font-family: Lato;
  color: #B1B1B1;
  margin: 15px 0 39px 0;
}

.registration__field .registration__button {
  width: 157px;
  height: 50px;
  border: none;
  background: #F16D7F;
  box-sizing: border-box;
}

.registration__field .registration__button:hover {
  background: #E05C6E;
  cursor: pointer;
}

.registration__field .registration__span {
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-transform: uppercase;
  color: #FBFBFB;
}

.registration__field .registration__arrow {
  fill: #FBFBFB;
  margin: 0 0 0 20px;
}

.registration__adv {
  max-width: 652px;
  margin: 0 0 0 128px;
}

.registration__adv .registration__adv-heading,
.registration__adv .registration__adv-p,
.registration__adv .registration__adv-item {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: normal;
  font-family: Lato;
}

.registration__adv .registration__adv-heading {
  text-transform: uppercase;
  margin: 0 0 22px 0;
}

.registration__adv .registration__adv-p {
  margin: 0 0 21px 0;
}

.registration__adv .registration__adv-item {
  margin: 0 0 16px 43px;
  position: relative;
}

.registration__adv .registration__adv-item:before {
  position: absolute;
  content: "";
  width: 20px;
  height: 16px;
  background-image: url(../images/checked.png);
  left: -43px;
  top: 8px;
}

.cart-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 96px 0 0 0;
}

.cart {
  max-width: 652px;
}

.cart__item {
  width: 100%;
  display: flex;
  box-shadow: 17px 19px 24px 0px rgba(0, 0, 0, 0.1294117647);
  position: relative;
  margin: 0 0 40px 0;
}

.cart__item-info {
  width: 390px;
  padding: 22px 0 62px 31px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart__item-name {
  margin: 0 0 42px;
  max-width: 200px;
  min-height: 58px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  font-family: Lato;
  text-transform: uppercase;
}

.cart__item-property {
  color: #575757;
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  font-style: normal;
  font-family: Lato;
}

.cart__item-value {
  color: #6F6E6E;
}

.cart__item-value--pink {
  color: #F16D7F;
}

.cart__item-value--border {
  border: 1px solid #EAEAEA;
  padding: 1px 16px;
  margin: 0 0 0 24px;
}

.cart__item-value--border:hover {
  opacity: 0.5;
  cursor: pointer;
}

.cart__item-del {
  position: absolute;
  top: 28px;
  right: 22px;
}

.cart__item-del:hover {
  opacity: 0.5;
  cursor: pointer;
}

.cart__buttons {
  display: flex;
  justify-content: space-between;
  margin: 72px 0 128px;
}

.cart__button {
  text-transform: uppercase;
  padding: 16px 40px;
  background: none;
  border: 1px solid #A4A4A4;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  font-family: Lato;
}

.cart__button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.cart__button-link {
  text-decoration: none;
  color: #222;
}

.order {
  width: 360px;
}

.order__legend {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  font-family: Lato;
  text-transform: uppercase;
  margin: 0 0 20px;
}

.order__input {
  display: block;
  width: 100%;
  border: 1px solid #A4A4A4;
  height: 45px;
  padding: 13px 0 16px 17px;
  box-sizing: border-box;
  margin: 0 0 20px;
}

.order__input[placeholder] {
  -webkit-text-fill-color: #B1B1B1;
}

.order__input:hover,
.order__input:focus {
  opacity: 0.5;
}

.order__quote-button {
  text-transform: uppercase;
  color: #A4A4A4;
  background: none;
  border: 1px solid #A4A4A4;
  padding: 12px 14px;
  font-size: 11px;
  line-height: 13px;
  font-weight: 300;
  font-style: normal;
  font-family: Lato;
}

.order__quote-button:hover,
.order__quote-button:focus {
  opacity: 0.5;
  cursor: pointer;
}

.order__price {
  margin: 57px 0 0 0;
  padding: 39px 43px 42px;
  background-color: #F5F3F3;
}

.order__sub {
  text-align: right;
  text-transform: uppercase;
  color: #4A4A4A;
  margin: 0 0 12px;
  font-size: 11px;
  line-height: 13px;
  font-weight: 400;
  font-style: normal;
  font-family: Lato;
}

.order__sub-price {
  margin: 0 0 0 20px;
}

.order__grand {
  text-align: right;
  text-transform: uppercase;
  margin: 0 0 20px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  font-family: Lato;
}

.order__grand-price {
  color: #F16D7F;
  font-weight: 700;
  margin: 0 0 0 20px;
}

.order__hr {
  border: 1px solid #E1E1E1;
  margin: 0 0 17px;
}

.order__check-button {
  padding: 16px 42px;
  width: 100%;
  background-color: #F16D7F;
  border: none;
  color: #FBFBFB;
  text-transform: uppercase;
}

.order__check-button:hover {
  cursor: pointer;
  background-color: #E05C6E;
}

/*# sourceMappingURL=style.css.map */