body {
    font-family: Lato;
    @include font(16px, 19px);
}

.container {
    width: 72%;
    margin: 0 auto;

    @include tablet {
        width: 96%;
    }

    @include mobile {
        width: 92%;
    }
}

.fill-white {
    fill: $white_color;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}