//colors

$black_color: #222;
$white: #fff;
$intro_color: #F1E4E6;
$pink_color: #F16D7F;
$pink_button_color: #FF6A6A;
$pinr_button_text_color: #F26376;
$offers_color: #474040;
$gray_color: #9F9F9F;
$gray_card_color: #F8F8F8;
$gray_card_text_color: #5D5D5D;
$white_color: #FBFBFB;
$input_color: #E1E1E1;
$inputs_border: #A4A4A4;
$placeholder_color: #B1B1B1;
$heading_color: #F8F3F4;
$category_color: #6F6E6E;
$hover_button_color: #E05C6E;
$cart_color: #575757;
$cart_border_color: #EAEAEA;
$cart_bkg_color: #F5F3F3;
$cart_price_color: #4A4A4A;

//break points

$desctop: 1600px;
$tablet: 768px;
$mobile: 376px;