.cart-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 96px 0 0 0;

    @include tablet {
        flex-direction: column;
    }

    @include mobile {
        padding: 39px 0 0 0;
    }
}

.cart {
    max-width: 57%;

    &__img {
        width: 40%;
        height: auto;
    }

    &__item {
        width: 100%;
        display: flex;
        box-shadow: 17px 19px 24px 0px #00000021;
        position: relative;
        margin: 0 0 40px 0;

        &-info {
            width: 390px;
            padding: 22px 0 62px 31px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @include mobile {
                padding: 13px 0 38px 31px;
            }
        }

        &-name {
            margin: 0 0 42px;
            max-width: 200px;
            min-height: 58px;
            @include font(24px, 29px);
            text-transform: uppercase;

            @include mobile {
                @include font(16px, 19px);
                margin: 0 0 15px;
            }
        }

        &-property {
            color: $cart_color;
            @include font(20px, 26px);

            @include mobile {
                @include font(14px, 16px);
            }
        }

        &-value {
            color: $category_color;

            &--pink {
                color: $pink_color;
            }

            &--border {
                border: 1px solid $cart_border_color;
                padding: 1px 16px;
                margin: 0 0 0 24px;
                transition: opacity 300ms;

                &:hover {
                    opacity: 0.5;
                    cursor: pointer;
                }
            }
        }

        &-del {
            position: absolute;
            top: 28px;
            right: 22px;
            transition: opacity 300ms;

            &:hover {
                opacity: 0.5;
                cursor: pointer;
            }

            @include mobile {
                width: 10px;
                height: 11px;
                top: 17px;
                right: 12px;
            }
        }

        @include mobile {
            max-height: 178px;
        }
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        margin: 72px 0 128px;

        @include tablet {
            margin: 72px auto 128px;
            width: 69%;
        }

        @include mobile {
            margin: 30px 0 48px;
            width: 100%;
        }
    }

    &__button {
        text-transform: uppercase;
        padding: 16px 40px;
        background: none;
        border: 1px solid $inputs_border;
        @include font(14px, 17px, 300);
        transition: opacity 300ms, transform 600ms;

        &:hover {
            opacity: 0.5;
            cursor: pointer;
            transform: scale(1.1);
        }

        &-link {
            text-decoration: none;
            color: $black_color;
        }

        @include mobile {
            @include font(12px, 14px, 300);
            padding: 9px 18px;
        }
    }

    @include tablet {
        max-width: 100%;
    }
}