.advantages {
    background-color: $black_color;

    &__list {
        display: flex;
        min-height: 341px;
        align-items: center;

        .advantages__item {
            color: $white_color;
            display: flex;
            flex-direction: column;
            align-items: center;

            .advantages__car,
            .advantages__crown {
                fill: $pink_color;
            }

            .advantages__heading {
                @include font(20px, 24px);
                text-align: center;
                margin: 28px 0 16px;
            }

            .advantages__text {
                @include font(14px, 17px, 300);
                text-align: center;
            }

            @include tablet {
                width: 47%;
                margin: 0 0 48px;
            }

            @include mobile {
                width: 92%;
            }
        }

        @include tablet {
            flex-direction: column;
            margin: 0;
        }
    }

    @include tablet {
        padding: 48px 0 16px;
    }

    @include mobile {
        padding-bottom: 33px;
    }
}