.similar {
    width: 72%;
    margin: 0 auto 100px;
    flex-direction: row;

    &__card {
        padding: 0;
        margin: 0 25px 0 0;

        &--last {
            margin: 0;
        }
    }
}